<div class="banner">
	<h1>{{ title.banner }}</h1>
</div>
<div class="main" *ngIf="event">
	<h2>{{ title.subtitle }}</h2>
	<div class="header">
		<img src="{{ event.logo_url }}" alt="" />

		<div class="header-details">
			<div class="date">
				<div class="month">{{ event.start | date: 'MMM' }}.</div>
				<div class="day">{{ event.start | date: 'dd' }}</div>
			</div>
			<h3>{{ event.name }}</h3>
			<div class="company">
				von <a href="">{{ event.organizor }}</a>
			</div>
			<div class="visitors"></div>
			<div class="price">{{ event.price }}</div>
			<button id="register" mat-raised-button color="primary">Registrieren</button>
		</div>
	</div>
	<div class="content">
		<div class="article">
			<h2>Zu diesem Event</h2>
			<p>{{ event.description }}</p>
			<h2>Mentorin finden</h2>
			<div class="mentor-card" *ngFor="let mentor of mentors">
				<div class="col1">
					<img src="{{ mentor.avatar }}" alt="{{ mentor.name }}" />
				</div>
				<div class="col2">
					<div class="mentor-name">{{ mentor.name }}</div>
					<div class="mentor-job">{{ mentor.job }}</div>
					<mat-chip-list id="skills">
						<mat-chip *ngFor="let skill of mentor.skills">{{ skill }}</mat-chip>
					</mat-chip-list>
					<div id="mentor-footer">
                        {{mentor.name.split(" ")[0]}} und du teilen 6 Interessen
                        </div>
				</div>
				<div class="col3">
					<button mat-raised-button color="light" routerLink="/User/{{ mentor.id }}">Profil anzeigen</button>
					<button mat-raised-button color="primary">Als Mentorin anfragen</button>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<div id="date" class="infos">
				<mat-icon>event_outline</mat-icon>
				<div class="data">
					<h3>Datum und Uhrzeit</h3>
					<div class="date-time">{{ event.start | date: 'EEEE dd.MM.yy HH:mm' }} - {{ event.end | date: 'HH:mm' }}</div>
					<div class="date-time"></div>
				</div>
			</div>
			<div id="location" class="infos">
				<mat-icon>place_outline</mat-icon>
				<div class="data">
					<h3>Standort</h3>
					<p>{{ event.venue_location_summary }}</p>
					<a routerLink="">Karte anzeigen</a>
				</div>
			</div>
			<div id="tags" class="infos">
				<mat-icon>local_offer</mat-icon>
				<div class="data">
					<h3>Tags</h3>
					<mat-chip-list>
						<mat-chip *ngFor="let tag of event.tags">{{ tag }}</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</div>
	</div>
</div>
