.banner {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/Events_Banner.jpeg');
	background-color: #cccccc;
	width: 100%;
	height: 250px;
	text-align: center;
	background-size: cover;
	justify-content: center;
	display: flex;
	background-blend-mode: darken;
	background-position: center;

	h1 {
		text-transform: uppercase;
		display: block;
		color: white;
		font-weight: bold;
		margin-block: auto;
		font-size: 2.2em;
	}
}

.event-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
}

.event-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #50425c;
	height: 20em;

	.content {
		padding: 1em;
		height: 100%;
        display: flex;
        flex-direction: column;
	}

	img {
		width: 100%;
		object-fit: cover;
		height: 10em;
	}

	h4 {
		font-weight: 400;
		margin: 0 0 0.5em 0;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: auto;
		font-size: 0.8em;
	}

	.card-date {
		display: block;
		color: #d1410c;
	}

	.card-location, .preis {
		display: block;
		color: #6f7287;
	}

	button {
		width: 100%;
		background-color: #50425c;
		color: white;
		border-radius: 0;
	}
}
