<div class="banner">
	<h1>{{ title.banner }}</h1>
</div>
<div class="main" *ngIf="mentor">
	<h2>{{ title.subtitle }}</h2>
	<div class="mentor-card">
		<img src="{{ mentor.avatar }}" alt="{{ mentor.name }}" />
		<div class="col2">
			<div id="name">{{ mentor.name }}</div>
			<div id="job">{{ mentor.job }}</div>
			<div class="social-links">
				<mat-icon>linkedin</mat-icon>
				<mat-icon>person</mat-icon>
				<mat-icon>mail</mat-icon>
			</div>
		</div>
		<div class="col3">
			<div id="pitch">{{ mentor.pitch }}</div>
		</div>
	</div>
	<div class="article">
		<div class="metadata" id="skills">
			<h3>Interessen</h3>
			<mat-chip-list>
				<mat-chip *ngFor="let skill of mentor.skills">{{ skill }}</mat-chip>
			</mat-chip-list>
		</div>
		<div class="metadata" id="activity">
			<h3>Mentorenaktivität über das Jahr</h3>
			<img src="assets/chart.png" alt="" id="activity" />
		</div>
		<div class="metadata" id="map">
			<h3>Geographische Verteilung</h3>
			<img src="assets/map.png" alt="" id="map" />
		</div>
		<div class="metadata" id="events">
			<h3>Events und Mentees</h3>
			<img src="assets/donut.png" alt="" id="donut" />
		</div>
		<div class="metadata" id="voting">
			<h3>Reviews</h3>
			<div id="cards">
				<div class="vote-card">
					<img [src]="testimonials[0]" />
					<p>{{ mentor.name }} hat mir die Welt der Hackatons gezeigt und mir den Einstieg erleichert.</p>
				</div>
				<div class="vote-card">
					<img [src]="testimonials[1]" alt="" />
					<p>Dank {{ mentor.name }} habe 3 potentielle Arbeitgeber kennen gelernt. Ihr riesiges Netzwerk ist sehr wertvoll!</p>
				</div>
			</div>
		</div>
		<div class="metadata">
			<h3>Bestätigte Skills</h3>
			<div id="awards">
				<div class="review-card" *ngFor="let skill of mentor.skills; let i = index">
					<mat-chip>{{ skill }}</mat-chip>
					<img [src]="avatar" *ngFor="let avatar of confirmations[i]" />
				</div>
			</div>
		</div>
	</div>
	<div class="planned-events">
		<h2>Angemeldete Events</h2>
		<div class="event-card">
			<img src={{event_path}} *ngFor="let event_path of event_paths" />
		</div>
	</div>
</div>
